.adding-item-row {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;


  
 
 
}

.adding-item-group {
  display: flex;
  flex-direction: column;
  flex: 1;
   background-color: rgb(241, 122, 122);
   border-radius: 1px;
}

.adding-item-label {
  padding-left: 0.75rem;
  font-size: 1.1rem;
  color: black;
  
}

.adding-item-input {
  padding: 0.4rem;
  color: #990000;
  font-size: 1rem;
}

.adding-item-input:focus {
  outline: none;

}

.adding-item-delete {
  color: #cc0000;
  font-size: 1.5rem;
  cursor: pointer;

  user-select: none;
  transition: color 0.2s ease;
}

.adding-item-delete:hover {
  color: #ff0000;
}

.adding-item-error {
  color: #d8000c;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  flex-basis: 100%;
}

.createdr-delete-icon {
    display: flex;
  align-self: center;

  cursor: pointer;
 
  color: white;
  font-size: 1.5rem;
  background-color: rgb(238, 141, 141);
  
}